<h2>My Heroes</h2>

<div>
	<label>
		<input #heroName />
	</label>	
	<!-- (click) passes input value to add() and then clears the input -->
	<button (click) = "add(heroName.value); heroName.value = ''">add</button>
</div>


<ul class = "heroes">

	<li *ngFor = "let hero of heroes">
		<a routerLink = "/detail/{{ hero.id }}">
			<span class = "badge">{{ hero.id }}</span> {{ hero.name }}
		</a>
		<button class = "delete" title = "delete hero" (click) = "delete(hero)">x</button>
	</li>

</ul>

<!--
<ul class = "heroes">

	<li *ngFor = "let hero of heroes" [class.selected] = "hero == selectedHero" (click) = "onSelect( hero )" >
		<span class = "badge">{{ hero.id }}</span> {{ hero.name }}
	</li>

</ul>
-->

<!-- One-way data binding. 
	[hero] = "selectHero" is an Angular Property Binding. 
	'hero' is the property of the target element. The target
	element is <app-hero-detail> which is the selector name for
	the HeroDetailComponent.  -->
<!--
<app-hero-detail [hero] = "selectedHero" ></app-hero-detail>
-->

<!--
<h2>{{ hero.name | uppercase }} Details</h2>

<div><span>id: </span>{{ hero.id }}</div>

 Two-way binding between the hero.name property to the HTML textbox
	   so that data can flow in both directions. 
	   [(ngModel)] is Angular's two-way data binding syntax. 
	   NOTE: There cannot be space between bracket/parenthesis and ndModel 
<div>
	<label>name:
		<input [(ngModel)] = "hero.name" placeholder = "name" >
	</label>
</div>
-->

<!--
	*ngFor is Angular's REPEATER directive. It repeats the host element for 
	       each element in a list.
	Above, 'heroes' is the list from the HeroesComponent class.
	-->